/* css reset  */
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}
/* CSS variables */
:root{
   --navbar-height: 59px;

}

/* navigation */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    left: 0px;
}
/* navbar: logo and image  */
   #logo{
    margin: -2px -5px;
   }
   #logo img{
    height: 100px;
    margin: -3px 22px;
   }

/* navbar: list style  */
 #navbar ul{
    display: flex;
}
#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}
#navbar ul li{
    /* color: white; */
    list-style: none;
    font-size: 1.3rem;
}
#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 19px;
    border-radius: 22px;
    text-decoration: none;
    font-family: 'Hina Mincho', serif;
}
#navbar ul li a:hover{
    color: rgb(137, 126, 231);
    background-color: white;
}

/* Home section style  */
#home{
    display: flex;
    flex-direction: column;
    padding: 5px 200px;
    height: 616px;
    align-items: center;
    justify-content: center;
}
#home::before{
    content: "";
    background: url('../bg4.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.8; 
} 
#home h1{
    color: white;
    text-align: center;
    font-family: 'Hina Mincho', serif;
}
#home p{
    color: white;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Hina Mincho', serif;
}
/* services section  */

#services{
    margin: 30px;
    display: flex;
    background-color: rgb(195, 192, 219);
    /* flex-direction: row; */

}
#services .box{
     border: 2px solid red;
     padding: 33px;
     margin: 3px 6px;
     background-color: rgb(245, 193, 193);
     border-radius: 21px;
}
#services .box img{
    height: 160px;
    margin: auto;
    display: block;
    
}
#services .box p{
    font-family: 'Mukta', sans-serif
}

/* client section  */
#client-section{
    /* height: 340px; */
    /* margin: 30px; */
    position: relative;
    /* border: 2px solid blue; */
}
#client-section::before{
    content: "";
    background: url('../bgClient.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.4;
}
#client{
    display: flex;
    justify-content: center;
    text-align: center;
} 
.client-item{
    padding: 5px;
}
/* #client img{
    height: 90px;
} */

/* contact-section  */
#contact{
    position: relative;
    /* border: 2px solid blue */
}
#contact::before{
    content: "";
    position:absolute;
    height: 100%;
    width: 100%;
    background: url('../bgcontact1.jpg') no-repeat center center/cover;
  
    z-index: -1;
    opacity: 0.7;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
    font-size: 1rem;
}
#contact-box form{
    width: 50%;
}
#contact-box label{
    font-family: 'Hina Mincho', serif;
    font-size: 1.4rem;
}

footer{
    background: black;
    color: rgb(243, 227, 227);
    padding: 8px 18px;
}
/* utility classes */
.h-primary{
    font-size: 2.7rem;
    padding: 8px;
}
.h-secondary{
    font-family: 'Hina Mincho', serif;
    font-size: 2.1rem;
    padding: 8px;
}
    

.btn{
    padding: 8px 18px;
    border: 2ps solid red;
    background-color: brown;
    color: rgb(226, 187, 187);
    margin: 16px;
    cursor: pointer;
    border-radius: 9px;
    font-size: 1.2rem;
    font-family: 'Mukta', sans-serif
    

}
.center{
    text-align: center;
}